fastapi===0.109.0
aiomysql==0.2.0
uvicorn[standard]
pytz
requests-toolbelt
boto3
pillow==10.2.0
backoff
python-magic
httpx
requests
sentry-sdk[fastapi]
python-multipart
azure-storage-blob
sqlalchemy==2.0.31